.header-around {
  background-image: url(../images/around/3.jpg);
}

.around-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-around;
}

.around-picture {
  width: 45%;
  object-fit: cover;
}

.around-wrapper {
  width: 45%;
}

.more {
  padding: 15px;
}

.more-about-list li {
  /* list-style: none; */
}

.more-about-list a {
  text-decoration: none;
  color: black;
}

.partenaires-list {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.partenaires-list li {
  list-style: none;
  width: 35%;
}
