.header-contacts {
  background-image: url(../images/background/maison.jpg);
}

.contact-wrapper {
  padding: 13px;
}

.contacts-informations {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.title-contact {
  width: 100%;
  font-size: 25px;
  margin-bottom: 15px;
}

.contact-us {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

name, surname, email, phone, topic, message {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

name, surname, email, phone {
  width: 48%;
}

topic, message {
    width: 100%;
}

input[type="text"], .contact-us-message {
  border-color: #f8f8f8;
  background-color: #f8f8f4;
  color: #919191;
  border: none;
  border-radius: 2px;
  padding: 13px;
}

input[type="text"].error {
  border: 1px solid red;
}

.error-message {
  color: red;
}

.contacts-tete {
  width: 35%;
}

.contact-map {
  width: 100%;
}

/* Page de succès */

.header-success {
  background-image: url(../images/background/maison.jpg);
}

/* Page d'échec */

.header-fail {
  background-image: url(../images/background/maison.jpg);
}
