/* Header home */

.header-home {
  height: 85vh;
  background-image: url(../images/background/maison.jpg);
  background-size: cover;
  background-position: center;
}

.subtitle-header-home, .title-header-home {
  color: #fff;
}

.title-header-home {
  padding-top: 150px;
  font-size: 70px;
}

.subtitle-header-home, .title-slider-rooms, .title-services-home, .title-around-home {
  font-size: 45px;
}

.title-slider-rooms, .title-services-home, .title-around-home {
  background-color: rgba(164, 167, 163, 0.5);
}

/* Slider home */

.slider-rooms {
  background-color: #fff;
}

.title-slider-rooms, .title-services-home {
  margin: 60px 0 40px 0;
}

.slick-initialized .slick-slide {
  height: 350px;
}

.rooms-bloc-slider {
  background-color: blue;
  padding-top: 225px;
}

.room-grande-champagne {
  background-image: url(../images/rooms/grande-champagne/1.jpg);
  background-size: cover;
  background-position: center;
}

.room-petite-champagne {
  background-image: url(../images/rooms/petite-champagne/1.jpg);
  background-size: cover;
  background-position: center;
}

.room-borderie {
  background-image: url(../images/rooms/borderie/1.jpg);
  background-size: cover;
  background-position: center;
}

.room-fin-bois {
  background-image: url(../images/rooms/fin-bois/1.jpg);
  background-size: cover;
  background-position: center;
}

.title-slider-room {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  color: #fff;
  font-size: 25px;
}

.rooms-bloc-slider a, .cta-services-home, .cta-around-home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  margin-top: 10px;
}

/* Service home */

.services-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #f8f8f4;
}

.title-services-home {
  width: 100%;
}

.prestations-overview-div {
  width: 28%;
  min-height: 550px;
}

.prestations-overview-pool {
  background-image: url(../images/home/overview/2.jpg);
  background-size: cover;
  background-position: center center;
}

.prestations-overview-games {
  background-image: url(../images/home/overview/3.jpg);
  background-size: cover;
  background-position: center center;
}

.prestations-overview-table {
  background-image: url(../images/home/overview/4.jpg);
  background-size: cover;
  background-position: center center;
}

.cta-services-home {
  margin-top: 465px;
  width: 80%;
  font-size: 20px;
}

/* Alentours */

.around-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}

.around {
  width: 35%;
  margin-right: 50px;
}

.slider-around {
  width: 45%;
}

.slider-around figcaption {
  text-align: center;
}
