
/* ELEMENTS GENERAUX HOME */

section:nth-of-type(2n) {
  background-color: #fff;
}

.subtitle-header-home, .title-header-home, .title-slider-room {
  color: #fff;
}

.subtitle-header-home, .title-slider-rooms, .title-services-home, .title-around-home {
  font-size: 45px;
}

.rooms-bloc-slider a, .cta-services-home, .cta-around-home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  margin-top: 10px;
}

.slider-rooms, .services-home, .around-home {
  padding-top: 60px;
}

.slider-rooms, .around-home {
  padding-bottom: 60px;
}

.title-slider-rooms, .title-services-home {
  margin-bottom: 40px;
}

.title-slider-room, .cta-slider-room, .service-wrap a {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

/* Header home */

.header-home {
  min-height: 85vh;
  height: auto;
  background-image: url(../images/background/maison.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.titles-header {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  width: 100%;
  top: 20%;
}

.title-header-home {
  font-size: 70px;
}

/* Slider home */

.slick-initialized .slick-slide {
  min-height: 350px;
  height: auto;
}

button.slick-prev.slick-arrow {
  left: 0;
  background-color: grey;
  top: 50%;
  cursor: pointer;
  z-index: 1;
}

button.slick-next.slick-arrow {
  right: 0;
  background-color: grey;
  top: 50%;
  cursor: pointer;
  z-index: 1;
}

.rooms-bloc-slider {
  padding-top: 225px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.title-slider-room {
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 25px;
  bottom: 36%;
  width: 100%;
}

.cta-slider-room {
  bottom: 22%;
}

/* Service home */

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  padding-bottom: 60px;
}

.service-wrap {
  width: 28%;
  position: relative;
}

.service-wrap img {
  width: 425px;
  height: 550px;
  object-fit: cover;
}

.service-wrap a {
  bottom: 10%;
}

.cta-services-home {
  width: 275px;
}

/* Alentours */

.around-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.around {
  width: 35%;
  margin-right: 50px;
}

.slider-around {
  width: 45%;
}

.slider-around figcaption {
  text-align: center;
}
