
/* ELEMENTS GENERAUX HOME */

section:nth-of-type(2n) {
  background-color: #fff;
}

.subtitle-header-home, .title-header-home, .title-slider-room {
  color: #fff;
}

.subtitle-header-home, .title-slider-rooms, .title-services-home, .title-around-home {
  font-size: 45px;
}

.rooms-bloc-slider a, .cta-services-home, .cta-around-home {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  margin-top: 10px;
}

.slider-rooms, .services-home, .around-home {
  padding-top: 60px;
}

.slider-rooms, .around-home {
  padding-bottom: 60px;
}

.title-slider-rooms, .title-services-home {
  margin-bottom: 40px;
}

/* Header home */

.header-home {
  height: 85vh;
  background-image: url(../images/background/maison.jpg);
  background-size: cover;
  background-position: center;
}

.title-header-home {
  padding-top: 150px;
  font-size: 70px;
}

/* Slider home */

.slick-initialized .slick-slide {
  height: 350px;
}

/* button.slick-prev.slick-arrow {
  left: 0;
  background-color: red;
  top: 50%;
  cursor: pointer;
  z-index: 1;
} */

.rooms-bloc-slider {
  padding-top: 225px;
}

.room-grande-champagne {
  background-image: url(../images/rooms/grande-champagne/1.jpg);
  background-size: cover;
  background-position: center;
}

.room-petite-champagne {
  background-image: url(../images/rooms/petite-champagne/1.jpg);
  background-size: cover;
  background-position: center;
}

.room-borderie {
  background-image: url(../images/rooms/borderie/1.jpg);
  background-size: cover;
  background-position: center;
}

.room-fin-bois {
  background-image: url(../images/rooms/fin-bois/1.jpg);
  background-size: cover;
  background-position: center;
}

.title-slider-room {
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 25px;
}

/* Service home */

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.service-wrap {
  width: 28%;
}

.service-wrap img {
  width: 425px;
  height: 550px;
  object-fit: cover;
}

.service-wrap a {
  position: relative;
  bottom: 100px;
}

.cta-services-home {
  width: 275px;
}

/* Alentours */

.around-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.around {
  width: 35%;
  margin-right: 50px;
}

.slider-around {
  width: 45%;
}

.slider-around figcaption {
  text-align: center;
}
