
/* Landing prestations */

.header-prestations {
  background-image: url(../images/background/maison.jpg);
}

.prestation-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-around;
}

.prestation-picture {
  width: 45%;
  object-fit: cover;
}

.prestation-wrapper {
  width: 45%;
  text-align: center;
}

.cta-prestation {
  color: #fff;
  background-color: #a4a89c;
}

/* Page table d'hôtes */

.slider-prestation {
  margin-bottom: 80px;
}

.header-table {
  background-image: url(../images/prestations/3.jpg);
}

.prestation-wrapper {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.prestation-item {
  height: 350px;
  object-fit: cover;
}

figcaption {
  text-align: center;
}

/* Page espaces intérieurs */

.header-inside {
  background-image: url(../images/prestations/inside/1.jpg);
}

/* Page espaces extérieurs */

.header-outside {
  background-image: url(../images/prestations/outside/8.jpg);
}
