.slider-pictures img {
  /* width: 450px; */
}

.title-rooms,
.title-sub-rooms {
  text-align: center;
}

.rooms-introduction {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rooms-main p {
  margin: 0;
}

.rooms-presentation {
  width: 65%;
}

.reservation-offer {
  width: 25%;
  text-align: center;
  border: 4px solid var(--inside-logo-color);
  background-color: var(--fond-logo-color);
  color: black;
}

.room-presentation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.title-room-presentation {
  width: 100%;
}

.room-introduction {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
}

.room-introduction p {
  width: 100%;
}

.cta-rooms {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hasDatepicker {
  color: black;
}

#ui-datepicker-div {
  border: 5px solid var(--inside-logo-color);
  background-color: var(--fond-logo-color);
}

.table-recap {
  color: #fff;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

.table-recap th,
.table-recap td {
  border: 2px solid #fff;
  /* width: 25%; */
  text-align: center;
}
