
/* CSS Chambre listing rooms */

.header-rooms {
  background-image: url(../images/rooms/borderie/1.jpg);
}

.rooms-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  margin-bottom: 40px;
}

.room-wrap {
  width: 35%;
  background-color: #fff;
  margin-bottom: 50px;
}

.title-room {
  margin-top: 35px;
  font-size: 34px;
}

.subtitle-room {
  margin-bottom: 20px;
  font-size: 20px;
}

.cta-room, .cta {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #a4a89c;
  padding: 10px;
}

/* CSS Chambre détails room */

.container-landing-room, .container-booking {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.wrapper-landing-header {
  width: 45%;
  padding: 50px;
}

.wrapper-landing-title {
  font-size: 34px;
}

span hr {
  width: 35%;
}

.wrapper-landing-images {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 0;
}

.slider-room {
  width: 100%;
}

.slider-room-list{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

.slider-room-item {
  width: 12%;
  list-style: none;
}

.room-details {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 60px;
}

.wrapper-details {
  width: 28%;
  background-color: #fff;
  text-align: center;
  padding: 40px 0;
}

.room-equipements-list {
  margin: 0;
  padding: 0;
}

.room-equipements-item {
  list-style: none;
}

.room-price {
  background-color: #a4a89c;
  color: #fff;
}

#reservationCTA {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--fond-color);
  color: black;
}

.wrapper-reservation {
  text-align: center;
  margin-bottom: 60px;
}

.form-reservation {
  padding: 40px;
}

input[type = "date"] {
  color : black;
}

/* Page de booking */

figure.booking-image {
  margin: 0 0 0 15px;
}

.wrapper-booking-image {
  width: 50%;
}

.wrapper-booking-details {
  width: 45%;
}

.container-booking {
  margin-bottom: 80px;
}

.table {
  font-weight: bold;
}

.booking-cta {
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  text-align: center;
  text-decoration: none;
  background-color: var(--fond-color);
  color: black;
  border-radius: 2px;
  padding: 10px;
}

.title-booking-details {
  font-size: 25px;
  margin-bottom: 15px;
}

.booking-form {
  margin-bottom: 80px;
}

.booking-form form {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

input[type="text"] {
  border-color: #f8f8f8;
  background-color: #f8f8f4;
  color: #919191;
  border: none;
  border-radius: 2px;
  padding: 13px;
}

.booking-details {
  width: 45%;
  margin-bottom: 15px;
}
