.rooms-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  margin-bottom: 40px;
}

.room-wrap {
  width: 35%;
  background-color: #fff;
  margin-bottom: 50px;
}

.title-room {
  margin-top: 35px;
  font-size: 34px;
}

.subtitle-room {
  margin-bottom: 20px;
  font-size: 20px;
}

.cta-room {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #a4a89c;
  padding: 10px;
}

input[type = "date"] {
  color : black;
}
