/* *****************************************
************Eléments Généraux************
***************************************** */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  background-image: url(../images/background/maison.jpg);
  background-size: cover;
  background-attachment: fixed;
}

:root {
  --blue-logo: rgb(255, 222, 89);
  --pink-logo: rgb(168, 168, 168);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.title {
  text-transform: uppercase;
}

.title-main {
  text-align: center;
}

.hide {
  display: none;
}

section {
  background-color: #e8eaec;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  margin-bottom: 40px;
  padding: 15px;
}

/* Bouton d'action en savoir plus */

.cta {
  border: 1px solid var(--pink-logo);
  padding: 10px;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(var(--blue-logo), var(--blue-logo)) no-repeat;
  background-size: 0 100%;
  background-position: left center;
  margin-top: auto;
  margin-bottom: 20px;
}

.cta:hover{
  background-size: 100% 100%;
  color: var(--pink-logo);
  border: 4px solid var(--pink-logo);
}

/* *****************************************
************HEADER************
***************************************** */

.header {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.3);
  margin-bottom: 40px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
}

.nav-bar {
  width: 60%;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-list li {
  position: relative;
}

.nav-list a,
.fa-user {
  text-decoration: none;
  color: #fff;
}

.sub-nav{
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 100%;
  text-align: left;
  padding: 5px;
}

.sub-nav-list {
  padding: 0;
  list-style: none;
  font-size: 13px;
}

.sub-nav-item {
  padding-left: 10px;
  transition: all 300ms;
}

.sub-nav-item:hover {
  background-color: var(--blue-logo);
  border: 2px solid var(--pink-logo);
  color: black;
}

/* *****************************************
************FOOTER************
***************************************** */

.footer {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.nav-logo {
  width: 100px;
}

.footer p {
  margin: 0
}

.footer-informations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.contact {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-title {
  width: 100%;
  text-align: center;
  margin: 0;
}

.nav-footer {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 10px;
}

.nav-list-footer {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  font-size: 13px;
  margin-bottom: 0;
}

.nav-list-footer li+li {
  margin-left: 10px;
}

.nav-list-footer a {
  text-decoration: none;
  color: #fff;
}
